@font-face {
    font-family: "Minecraft";
    src: url('../fonts/minecraft.ttf');
}

.preview_zone {
    background-image: url(../images/motd-img.png), url(../images/motd.png);
    background-repeat: no-repeat, repeat;
    background-position: 4px 4px;
    background-size: 64px 64px;
    font-family: "Minecraft", Verdana, Tahoma !important;
    color: #fff;
    padding: 4px 4px 4px 76px;
    line-height: 20px;
    min-height: 64px;
    word-break: break-all;
    /*margin: 0 auto;*/
}

.preview_zone .server-name {
    display: block;
}

.preview_zone .preview_motd {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px;
    max-height: 40px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #808080;
    white-space: pre-wrap;
}

.preview_zone .server-name .ping {
    color: #AAAAAA;
    float: right;
    background: url(../images/motd-ping.png) top right no-repeat;
    padding: 0 24px 0 0;
}
